@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }
}
.bg-cindypink {
  background-color: rgb(247 206 205);
}
.text-cindypink {
  color: black;
}
.bg:hover {
  background-color: rgb(247 206 205);
}
.font-cursive {
  font-family: "Lobster Two", sans-serif;
}
.list-heart {
  list-style-type: "💗";
}

.h-big {
  height: 475px;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.ham-top,
.ham-bottom,
.ham-middle {
  position: absolute;
  top: 9px;
  left: 305px;
  width: 24px;
  height: 2px;
  background: #000;
}
.ham-middle {
  transform: translateY(7px);
}
.ham-bottom {
  transform: translateY(14px);
}
