---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="h-screen bg-pink-100">
    <h1 class="py-4 text-3xl">About Me</h1>
    <p class="text-xl">
      Hi my name is Cindy Rojas, I am a nail technician. I started my journey
      during the pandamic in the beginning of 2020. I love doing nails it is a
      way of being creative, to meeting new people, and to build new
      friendships. I love doing what I do and hope to see you soon.
    </p>
  </div>
</Layout>
