---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Services">
  <!-- Table -->
  <table class="py- h-screen w-full">
    <tr>
      <td class="h-screen w-2/4">
        <table class="h-screen w-full border">
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th class="text-center">GEL-X SHORT SET</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-28">Starting Price</td>
              <td class="basis-28 self-end text-end">$40</td>
            </tr>
            <tr>
              <td>French Tips</td>
              <td>$55</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="h-screen w-2/4">
        <table class="h-screen w-full border">
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th>MEDUIM SET</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td>Starting Price</td>
              <td>$60</td>
            </tr>
            <tr>
              <td> French Tips</td>
              <td> $45</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</Layout>
