---
import Layout from "../layouts/Layout.astro";
import AcuitySchedule from "../components/AcuitySchedule.astro";
---

<Layout title="Services">
  <!--Menu always show -->
  <h1
    class="bright font-cursive bg-cindypink text-cindypink py-5 text-center text-5xl font-bold"
  >
    Arcylic Services
  </h1>
  <table class="bg-cindypink min-h-full w-full py-20">
    <tr>
      <td class='w-2/4"'>
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center px-2">
            <tr>
              <th class="font-bold capitalize">GEL-X SHORT SET ..</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="font-light">Starting Price</td>
              <td class="text-end">$40</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">French Tips</td>
              <td class="text-end">$55</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center px-2">
            <tr>
              <th class="font-bold capitalize">MEDUIM SET .......</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="text-end">$60</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class=""> French Tips</td>
              <td class="text-end">$45</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center px-2">
            <tr>
              <th class="font-bold capitalize">Long Set .............</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="text-end">$40</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">French Tips</td>
              <td class="text-end">$55</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center px-2">
            <tr>
              <th class="font-bold capitalize">Gel Manicure ........</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="text-end">$60</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class=""> French Tips</td>
              <td class="text-end">$45</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center px-2">
            <tr>
              <th class="font-bold capitalize">Other Gel Services</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="text-end">$40</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">French Tips</td>
              <td class="text-end">$55</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center px-2">
            <tr>
              <th class="font-bold capitalize">STRUCTURE Manicure</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="text-end">$60</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class=""> French Tips</td>
              <td class="text-end">$45</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <table class="bg-cindypink h-32 w-full">
        <tr>
          <th class="font-bold capitalize">Get Add-ons</th>
        </tr>
        <tr>
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th>Designs ........</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Marbel</td>
              <td class="text-end">$1</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">3D Nail Art</td>
              <td class="text-end">$3 - 30</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">French</td>
              <td class="text-end">$4</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Gel Nail Art</td>
              <td class="text-end">$1 - 30</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Encapsulation</td>
              <td class="text-end">$5 - 30</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Crystals</td>
              <td class="text-end">$1-45</td>
            </tr>
          </tbody>
        </tr>
        <tr>
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th>Designs ........</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="text-end">$60</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class=""> French Tips</td>
              <td class="text-end">$45</td>
            </tr>
          </tbody>
        </tr>
      </table>
    </tr>
  </table>
  <!--Menu show / hide -->
  <div class="bg-cindypink">
    <details class="p-6 open:shadow-lg open:ring-pink-400">
      <summary
        class="font-cursive text-cindypink cursor-pointer select-none text-center text-4xl font-bold leading-6"
      >
        Gel Services
      </summary>
      <table class="mt-5 min-h-full w-full py-20">
        <tr>
          <td class='w-2/4"'>
            <table class="h-32 w-full">
              <tbody class="flex w-full flex-col items-center">
                <tr>
                  <th class="text-center">GEL-X SHORT SET</th>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">Starting Price</td>
                  <td class="text-end">$40</td>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">French Tips</td>
                  <td class="text-end">$55</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="w-2/4">
            <table class="h-32 w-full">
              <tbody class="flex w-full flex-col items-center">
                <tr>
                  <th>MEDUIM SET</th>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">Starting Price</td>
                  <td class="text-end">$60</td>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class=""> French Tips</td>
                  <td class="text-end">$45</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td class="w-2/4">
            <table class="h-32 w-full">
              <tbody class="flex w-full flex-col items-center">
                <tr>
                  <th class="text-center">Long Set</th>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">Starting Price</td>
                  <td class="text-end">$40</td>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">French Tips</td>
                  <td class="text-end">$55</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="w-2/4">
            <table class="h-32 w-full">
              <tbody class="flex w-full flex-col items-center">
                <tr>
                  <th>Gel Manicure</th>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">Starting Price</td>
                  <td class="text-end">$60</td>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class=""> French Tips</td>
                  <td class="text-end">$45</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td class="w-2/4">
            <table class="h-32 w-full">
              <tbody class="flex w-full flex-col items-center">
                <tr>
                  <th class="text-center">Other Gel Services</th>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">Starting Price</td>
                  <td class="text-end">$40</td>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">French Tips</td>
                  <td class="text-end">$55</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="w-2/4">
            <table class="h-32 w-full">
              <tbody class="flex w-full flex-col items-center">
                <tr>
                  <th>STRUCTURE Manicure</th>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">Starting Price</td>
                  <td class="text-end">$60</td>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class=""> French Tips</td>
                  <td class="text-end">$45</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <table class="h-32 w-full">
            <tr>
              <th>Get Add-ons</th>
            </tr>
            <tr>
              <tbody class="flex w-full flex-col items-center">
                <tr>
                  <th>Designs</th>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">Marbel</td>
                  <td class="text-end">$1</td>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">3D Nail Art</td>
                  <td class="text-end">$3 - 30</td>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">French</td>
                  <td class="text-end">$4</td>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">Gel Nail Art</td>
                  <td class="text-end">$1 - 30</td>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">Encapsulation</td>
                  <td class="text-end">$5 - 30</td>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">Crystals</td>
                  <td class="text-end">$1-45</td>
                </tr>
              </tbody>
            </tr>
            <tr>
              <tbody class="flex w-full flex-col items-center">
                <tr>
                  <th>Designs</th>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class="">Starting Price</td>
                  <td class="text-end">$60</td>
                </tr>
                <tr class="flex w-full justify-around">
                  <td class=""> French Tips</td>
                  <td class="text-end">$45</td>
                </tr>
              </tbody>
            </tr>
          </table>
        </tr>
      </table>
    </details>
  </div>

  <AcuitySchedule />
</Layout>
