---
import Layout from "../layouts/Layout.astro";
import AcuitySchedule from "../components/AcuitySchedule.astro";
import Services from "../components/Services.astro";
---

<Layout title="Services">
  <!--Menu always show -->
  <h1
    class="font-cursive text-cindypink cursor-pointer select-none p-4 py-7 text-center text-4xl font-bold leading-6"
  >
    Arcylic Services
  </h1>
  <div class="sm:px-50 mt-4 px-10 md:px-80">
    <div class="border-b border-black"></div>
  </div>

  <Services />
  <h1
    class="font-cursive text-cindypink cursor-pointer select-none p-4 py-7 text-center text-4xl font-bold leading-6"
  >
    Gel Services
  </h1>
  <div class="sm:px-50 mt-4 px-10 md:px-80">
    <div class="border-b border-black"></div>
  </div>

  <!--Menu show / hide -->
  <!-- <table class="bg-cindypink min-h-full w-full py-20">
    <tr>
      <td class='w-2/4"'>
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center px-2">
            <tr>
              <th class="font-bold capitalize">SHORT SET</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="font-light">Starting Price</td>
              <td class="">$50</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">French Tips</td>
              <td class="">$55</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Ombre Set</td>
              <td class="">$60</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center px-2">
            <tr>
              <th class="font-bold capitalize">MEDUIM SET .......</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="">$55</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class=""> French Tips</td>
              <td class="">$75</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class=""> Ombre Set</td>
              <td class="">$70</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center px-2">
            <tr>
              <th class="font-bold capitalize">Long Set .............</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="">$60</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">French Tips</td>
              <td class="">$55</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Ombre Set</td>
              <td class="">$55</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center px-2">
            <tr>
              <th class="font-bold capitalize">X-LONG SET</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="">$65</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class=""> French Tips</td>
              <td class="">$85</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Ombre Set</td>
              <td class="">$80</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center px-2">
            <tr>
              <th class="font-bold capitalize">XX-LONG + SET</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="">$75</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">French Tips</td>
              <td class="">$95</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Ombre Set</td>
              <td class="">$90</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center px-2">
            <tr>
              <th class="font-bold capitalize">NATURAL OVERLAY</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="">$35</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">French Tips</td>
              <td class="">$45</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Ombre Set</td>
              <td class="">$50</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <table class="bg-cindypink h-32 w-full">
        <tr>
          <th class="font-bold capitalize">Get Add-ons</th>
        </tr>
        <tr>
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th>Designs ........</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">Marbel</td>
              <td class="basis-20 whitespace-nowrap">$1</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">Ombre</td>
              <td class="basis-20 whitespace-nowrap">$3 - 30</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">French</td>
              <td class="basis-20 whitespace-nowrap">$4</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">Gel Nail Art</td>
              <td class="basis-20 whitespace-nowrap">$1 - 30</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">Encapsulation</td>
              <td class="basis-20 whitespace-nowrap">$5 - 30</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">Crystals</td>
              <td class="basis-20 whitespace-nowrap">$1-45</td>
            </tr>
          </tbody>
        </tr>
        <tr>
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th>Designs ........</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">3D Nail Art</td>
              <td class="basis-20 whitespace-nowrap">$3-30</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap"> Charms</td>
              <td class="basis-20 whitespace-nowrap">$1 - 25</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">Sticker/Decals</td>
              <td class="basis-20 whitespace-nowrap">$1 - 10</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">Sugar/Glitter</td>
              <td class="basis-20 whitespace-nowrap">$1</td>
            </tr>
          </tbody>
        </tr>
      </table>
    </tr>
  </table> -->
  <!-- <table class="mt-5 min-h-full w-full py-20">
    <tr>
      <td class='w-2/4"'>
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th class="text-center">GEL-X SHORT SET</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="">$40</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">French Tips</td>
              <td class="">$55</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th>MEDUIM SET</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="">$45</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class=""> French Tips</td>
              <td class="">$60</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th class="text-center">Long Set</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="text-end">$50</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">French Tips</td>
              <td class="">$65</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th>Gel Manicure</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="">$35</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class=""> French Tips</td>
              <td class="">$45</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th class="text-center">Other Gel Services</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Gel-X Removal</td>
              <td class="">$15</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Structure Fill</td>
              <td class="">$45</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="w-2/4">
        <table class="h-32 w-full">
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th>STRUCTURE Manicure</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="">Starting Price</td>
              <td class="">$50</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class=""> French Tips</td>
              <td class="">$45</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <table class="h-32 w-full">
        <tr>
          <th>Get Add-ons</th>
        </tr>
        <tr>
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th>Designs ....</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">Marbel</td>
              <td class="basis-20 whitespace-nowrap">$1</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">3D Nail Art</td>
              <td class="basis-20 whitespace-nowrap">$3 - 30</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">French</td>
              <td class="basis-20 whitespace-nowrap">$4</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">Gel Nail Art</td>
              <td class="basis-20 whitespace-nowrap">$1 - 30</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">Encapsulation</td>
              <td class="basis-20 whitespace-nowrap">$5 - 30</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">Crystals</td>
              <td class="basis-20 whitespace-nowrap">$1-45</td>
            </tr>
          </tbody>
        </tr>
        <tr>
          <tbody class="flex w-full flex-col items-center">
            <tr>
              <th>Designs ....</th>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap">Starting Price</td>
              <td class="basis-20 whitespace-nowrap">$60</td>
            </tr>
            <tr class="flex w-full justify-around">
              <td class="basis-20 whitespace-nowrap"> French Tips</td>
              <td class="basis-20 whitespace-nowrap">$45</td>
            </tr>
          </tbody>
        </tr>
      </table>
    </tr>
  </table> -->

  <AcuitySchedule />
</Layout>
