<footer class="footer bg-pink-100">
  <div class="container flex justify-end">
    <div>
      <h3 class="underline">Links</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Blog</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>

  Copyright &copy; 2023
  <a class="cursor-pointer px-1" href="https://twitter.com/DiegoCode_"
    >DiegoCode_
  </a>
  made with 💗 for Cindy
</footer>

<style>
  .footer a:hover {
    text-decoration: underline;
  }
  @media (max-width: 500px) {
    .footer div:nth-child(2) {
      display: none;
    }
  }
</style>
