---
try {
  const response = await fetch(
    `https://graph.instagram.com/me/media?fields=id,username,media_url,media_type,timestamp,caption,permalink&access_token=${
      import.meta.env.INSTAGRAM_USER_KEY
    }`
  );
  if (!response.ok) {
    throw new Error("Network response was not OK");
  }
  const data = await response.json();
  const IMG = data["data"];
} catch (error) {
  console.error("There has been a problem with your fetch operation:", error);
}
---

<script>
  const audioElements = document.querySelectorAll("video");
  Array.from(audioElements).forEach((element) => {
    element.addEventListener("mouseover", () => {
      element.play();
    });
    element.addEventListener("mouseout", () => {
      element.pause();
    });
  });
</script>
<div class="flex overflow-x-scroll">
  {
    IMG.map((el: any) => (
      <a href={el.permalink} class="inline-flex">
        <div class="m-2 flex w-full max-w-xs flex-col items-center border-2 border-solid border-red-300">
          <video class="w-64 max-w-max" controls>
            <source src={el.media_url} type="video/webm" />
          </video>
          <div class="p-11">
            <img src="/mainLogo.svg" />
          </div>
          <div class="text-center text-lg leading-loose">
            <span class="block">{el.caption}</span>
            <span class="block">Nails by Cindy</span>
            <span class="block">{new Date(el.timestamp).toDateString()}</span>
          </div>
        </div>
      </a>
    ))
  }
</div>
