---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<!--Nav Section-->
<nav class="bg-cindypink sticky top-0 z-10 flex py-8 lg:drop-shadow">
  <!--Logo-->
  <div
    class="flex w-40 cursor-pointer items-center justify-center text-center lg:w-1/6"
  >
    <a href="/#/" class="bright text-cindypink text-3xl font-bold"
      >Cindy Beauty</a
    >
  </div>
  <!--Nav Items-->
  <div class="mx-auto hidden w-full justify-end border-solid lg:flex">
    <ul class="flex w-4/12 items-center justify-end self-center">
      <li
        class="pointer hover:bg-cindypink w-3/12 cursor-pointer rounded-lg py-2 text-center"
      >
        <a
          class={currentPath === "" ? "underline underline-offset-8" : ""}
          href="/">Home</a
        >
      </li>
      <li
        class="hover:bg-cindypink w-3/12 cursor-pointer rounded-lg py-2 text-center"
      >
        <a
          class={currentPath === "services"
            ? "underline underline-offset-8"
            : ""}
          href="/services">Services</a
        >
      </li>
      <li
        class="hover:bg-cindypink w-3/12 cursor-pointer rounded-lg py-2 text-center"
      >
        <a
          class={currentPath === "about" ? "underline underline-offset-8" : ""}
          href="/about">About Me</a
        >
      </li>
    </ul>
  </div>
  <!--Mobile-->
  <nav
    class="hover:text-cindypink absolute right-10 flex cursor-pointer rounded-lg duration-500 ease-in hover:rounded-xl lg:hidden"
  >
    <div>
      <button class="navbar-burger">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-9 w-9"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </nav>
  <div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav
      class="fixed top-0 left-0 bottom-0 flex w-5/6 max-w-sm flex-col overflow-y-auto border-r bg-white py-6 px-6"
    >
      <div class="mb-8 flex items-center">
        <button class="navbar-close">
          <svg
            class="h-6 w-6 cursor-pointer text-gray-400 hover:text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1">
            <a class="bg block rounded p-4 text-sm font-semibold" href="#"
              >Home</a
            >
          </li>
          <li class="mb-1">
            <a
              class="bg block rounded p-4 text-sm font-semibold"
              href="/services/">Services</a
            >
          </li>
          <li class="mb-1">
            <a class="bg block rounded p-4 text-sm font-semibold" href="/about/"
              >About</a
            >
          </li>
        </ul>
      </div>
      <div class="mt-auto">
        <!-- <div class="pt-6">
				  <a
					class="mb-3 block rounded-xl bg-gray-50 px-4 py-3 text-center text-xs font-semibold leading-none hover:bg-gray-100"
					href="#"
					>Sign in</a
				  >
				  <a
					class="mb-2 block rounded-xl bg-blue-600 px-4 py-3 text-center text-xs font-semibold leading-loose text-white hover:bg-blue-700"
					href="#"
					>Sign Up</a
				  >
				</div> -->
        <p class="my-4 text-center text-xs text-gray-400">
          <span>Copyright © 2023</span>
        </p>
      </div>
    </nav>
  </div>
</nav>
