---
---

<div class="mx-auto sm:w-2/3">
  <details class="p-10 open:shadow-lg open:ring-pink-400 md:px-32">
    <summary
      class="text-cindypink cursor-pointer select-none text-4xl font-bold leading-6"
    >
      Short sets
    </summary>
    <div class="text-md mt-6">
      <div
        class="border-blue align-center mx-auto flex w-10/12 flex-col self-center border-t-2 border-b-2 border-black/10 px-2 py-1"
      >
        <span class="text-xl">French Tips: $55</span>
        <span class="text-xl">Starting Price: $55</span>
        <span class="text-xl">Ombre Set: $60</span>
      </div>
    </div>
  </details>
</div>

<div class="mx-auto sm:w-2/3">
  <details class="p-10 open:shadow-lg open:ring-pink-400 md:px-32">
    <summary
      class="text-cindypink cursor-pointer select-none text-4xl font-bold leading-6"
    >
      Long sets
    </summary>
    <div class="text-md mt-6">
      <div
        class="border-blue align-center mx-auto flex w-10/12 flex-col self-center border-t-2 border-b-2 border-black/10 px-2 py-1"
      >
        <span class="text-xl">French Tips: $55</span>
        <span class="text-xl">Starting Price: $55</span>
        <span class="text-xl">Ombre Set: $60</span>
      </div>
    </div>
  </details>
</div>
