---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LLEDW8LEXS"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-LLEDW8LEXS");
    </script>
    <!-- Google tag (gtag.js) -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="Cindy Nail tech business in Minneapolis"
    />
    <link href="/mainLogo.svg" rel="icon" />
    <script src="../js/main.js"></script>
    <link rel="stylesheet" href="../../css/style.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
